{% extends "layout.html" %}

{% block main %}

<h1>About</h1>

<p>
    This application; Made by Mehmet Emre Topdal using Python-flask, WTForms, sqlite3 and bootstrap.
    <br>
    It is very basic CRUD themed application so it needs various improvements.
    <br>
    The first feature I would like to add is to sort the tasks from the homepage by importance or duration. I will also
    make minor changes in the code part</p>

    <h3>
        Contact me
    </h3>
    <p>mail: dev.emre.topdal@gmail.com</p>
    <p> github: <a href="https://github.com/Mehmet-Emre-Topdal"> https://github.com/Mehmet-Emre-Topdal</a></p>
{% endblock main %}